* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: hsl(0, 0%, 100%);
}
.container {
  background-color: hsl(218, 28%, 13%);
  max-width: 1440px;
  width: 95%;
  padding: 1em 2em;
  margin: 0 auto;
}
nav {
  display: flex;
  margin: 0;
}
.logo-small {
  height: 2em;
  margin-right: 2em;
}
ul {
  list-style: none;
}
li {
  margin: 0.9rem;
  display: inline;
}
nav a {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 0.75em;
  text-decoration: none;
}
nav a:active {
  text-decoration: underline;
}
@media (min-width: 500px) {
  nav {
    justify-content: space-between;
  }
}

.image {
  width: 90%;
  display: block;
  max-width: 500px;
  height: 250px;
  margin: 2em auto 1em auto;
}
h2 {
  text-align: center;
  font-size: 2em;
}
.intro p {
  text-align: center;
}
.btn {
  display: block;
  width: 80%;
  margin: 1em auto 2em auto;
  height: 3em;
  border-radius: 100px;
  background-color: hsl(198, 60%, 50%);
}
.btn:active {
  background-color: hsl(176, 68%, 64%);
}
@media (min-width: 500px) {
  .intro {
    width: 80%;
    margin: 0 auto;
  }
  .btn-small {
    width: 30%;
  }
}
.features {
  margin: 2em;
  text-align: center;
}
.features-image {
  width: 4em;
  height: 5em;
  margin-top: 4em;
  margin-bottom: 2em;
}
h4 {
  font-size: 1.25em;
  margin-bottom: 0.5em;
}
@media (min-width: 500px) {
  .feature-column-1,
  .feature-column-2 {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  .feature-col-1,
  .feature-col-2 {
    padding: 0 2.5em;
  }
}
.read-more {
  display: flex;
  border-bottom: 1px solid hsl(176, 68%, 64%);
  padding-bottom: 0.25em;
  margin-bottom: 10em;
  width: 146px;
}
.read-more a {
  color: hsl(176, 68%, 64%);
  margin-right: 0.5em;
  text-decoration: none;
}
@media (min-width: 500px) {
  .description {
    display: flex;
    width: 90%;
    margin: 4em auto 0 auto;
  }
  .description-image {
    width: 100%;
    margin: 0;
  }
  .description-details {
    width: 60%;
    margin: 2em auto;
    padding: 1em 1em 0 2em;
  }
  .description-details h4 {
    font-size: 1.5em;
    width: 70%;
  }
  .read-more {
    margin-bottom: 4em;
  }
}
.image-quote {
  height: 1.5em;
}
.review {
  background-color: hsl(219, 30%, 18%);
  width: 80%;
  margin: 0 auto 2em auto;
  padding: 2em;
  border-radius: 8px;
}
.review img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 0.5em;
}
.review p {
  font-size: 0.75rem;
  margin-bottom: 2em;
}
h5 {
  font-size: 0.75rem;
  margin: 0;
}
#designation {
  font-size: 0.5em;
  margin: 0%;
}
.profile {
  display: flex;
}
@media (min-width: 500px) {
  .reviews {
    width: 90%;
    display: flex;
    margin: 0 auto;
  }
  .review {
    width: 25%;
    margin: 0.5em;
  }
}
.feedback {
  background-color: hsl(217, 28%, 15%);
  width: 95%;
  margin: 10em auto 3em auto;
  border-radius: 8px;
  text-align: center;
  padding: 2em;
}
input {
  display: block;
  width: 90%;
  margin: 1em auto;
  height: 3em;
  border-radius: 100px;
}
.btn-big {
  display: block;
  width: 90%;
  height: 3em;
  margin: 1em auto 2em auto;
}
@media (min-width: 500px) {
  .feedback {
    width: 60%;
  }
  .feedback h4 {
    font-size: 1.75em;
    width: 70%;
    margin: 0.5em auto;
  }
  .feedback p {
    width: 80%;
    margin: 0 auto;
  }
  .feedback-buttons {
    width: 90%;
    display: flex;
    margin: 0.5em auto 0 auto;
  }
  input {
    width: 65%;
  }
  .btn-big {
    width: 30%;
  }
}
.subscribe {
  margin: 4em auto 0 auto;
}
.logo-big {
  margin: 2em 1em;
}
.contact {
  width: 95%;
  display: flex;
  margin: 0 auto 2em auto;
}
.contact img {
  height: 1em;
  margin-right: 1.5em;
}
.contact p {
  margin: 0;
}
.about-us {
  width: 95%;
  margin: 4em auto;
}
.about-us p {
  margin-bottom: 1em;
}
.contact-us {
  width: 95%;
  margin: 0 auto 3em auto;
}
.contact-us p {
  margin-bottom: 1em;
}
@media (min-width: 500px) {
  .credits {
    display: flex;
  }
  .contact,
  .contact-us,
  .about-us {
    width: 20%;
    margin: 0 2em 3em 2em;
  }
  .number {
    width: 68%;
  }
}
